
<div class="wrap">
  <div class="hero-wrap fill">
    <%= image_tag @profile.image, :class => 'hero card-img-top' %>
  </div>

  <h2 class="display-4"><%= @profile.name %></h2>
  <h2 class="display-5">Rider level: <%= @profile.skill %></h2>
  <p><%= @profile.brief %></p>
</div>
<% if @current_user.present? %>
  <% if @current_user.admin? %>
  <div class="controls ">
    <%= link_to "Edit", edit_profile_path %>
    <%= link_to "Delete #{@profile.name}", @profile, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
  </div>
  <% end %>
  <% end %>
