<div class="wrap">
  <div class="hero-wrap fill">
    <%= image_tag @shape.image, :class => 'hero card-img-top' %>
  </div>

  <h2 class="display-4"><%= @shape.name %></h2>
  <h2 class="display-5">Terrain: <%= @shape.terrain %></h2>
  <p><%= @shape.brief %></p>
</div>

<% if @current_user.present? %>
  <% if @current_user.admin? %>
  <%= link_to "Edit", edit_shape_path %>
  <%= button_to "Delete #{@shape.name}", @shape, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
  <% end %>
  <% end %>
