<h1>Snowboard List</h1>
<p><%= @message %></p>
<%= form_tag products_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>

<% end %>
<div class="row">
<% @products.each do |product| %>


  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-image-product fill">
        <img src="<%= product.image %>" class="card-img-top p-image " alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <%= link_to "View Board", "/products/#{ product.id }", :class => "btn btn-primary" %>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>



<% end %>
</div>
