<h1><%= @products.year %> <%= @products.brand %> <%= @products.model %></h1>
<h2><%= @products.name %></h2>
  <h3>Shape: <%= @products.shape.name %></h3>
  <h3>Profile: <%= @products.profile.name %></h3>
  <% @products.reviews.each do |review| %>
  <div class="review">
    <h3><%= review.title  %></h3>
    <ul>
      <li><%= review.date %></li>
      <li><%= review.rating %>/10</li>
    </ul>
    <p><%= review.brief %></p>
  </div>
  <% end %>
