<style media="screen">
  .jumbotron {
    background-image: url(<%= @products.image %>);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
  }
  @media (max-width: 991px) {
    .jumbotron {
      background-image: none;
    }
    .product-wrap {
      display: inherit;
    }
    .col-md-6 {
      max-width: 100%;
    }
  }
  .review-card {

  }
  .review-card * {
    display: inline-block;
  }
  .media-body * {
    margin-right: 10px;
  }
  .review-head3 {
    display: inline-block;
    margin: 20px auto;
  }
</style>
<div class="product-wrap fill">
  <%= image_tag @products.image, :class => 'hero card-img-top' %>
</div>
<div class="jumbotron">
  <div class="col-md-6">
    <h2 class="display-4"><%= @products.name %></h2>

    <p class="lead"><%= @products.brief.truncate(150) %></p>
    <hr class="my-4">

    <p>Continue reading below.</p>

  </div>
</div>
<ul class="list-unstyled">
  <li class="media">
    <div class="media-body">
      <h3 class="mt-0 mb-1">Overview</h3>
      <h5>Board Shape: <%= link_to @products.shape.name, "/shapes/#{@products.shape.id}" %></h5>
      <h5>Board Profile: <%=link_to @products.profile.name, "/profiles/#{@products.profile.id}" %></h5>

      <p><%= @products.brief %></p>
    </div>
  </li>
</ul>
<hr class="my-4">
    <h3 class="review-head3">Board Reviews</h3>     <%= link_to "Add a Review", new_review_path %>

      <% @products.reviews.each do |review| %>
    <div class="review-row">


      <div class="review-card">


            <%# <%= link_to "View Review", "/reviews/#{review.id}", :class => "mr-3 btn btn-primary" %>
            <div class="media-body">
              <a href=<%= "/reviews/#{review.id}" %>>
                <h5 class="mt-0 mb-1"><%= review.title %></h5>
              </a>
              <p>Date Published: <%= review.date %></p><p>Author: <%= review.author %></p>

            </div>

      </div>

    </div>

      <% end %>
      <% if @current_user.present? && @current_user.admin?%>

        <div class="controls ">
          <%= link_to "Edit", edit_product_path %>
          |
          <%= link_to "Delete #{@products.name}", @products, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
        </div>
        <% end %>
