<style media="screen">
  .jumbotron {background-image: url(<%= @products.image %>); background-size: contain; background-repeat: no-repeat; background-position: top right}
</style>

<div class="jumbotron">
  <div class="col-md-4">
    <h2 class="display-4"><%= @products.name %></h2>

    <p class="lead"><%= @products.brief.truncate(150) %></p>
    <hr class="my-4">

    <p>Continue reading below.</p>

  </div>
</div>
<ul class="list-unstyled">
  <li class="media">
    <div class="media-body">
      <h3 class="mt-0 mb-1">Overview</h3>
      <p><%= @products.brief %></p>
      <h5>Board Shape: <%= link_to @products.shape.name, "/shapes/#{@products.shape.id}" %></h5>
      <h5>Board Profile: <%=link_to @products.profile.name, "/profiles/#{@products.profile.id}" %></h5>
    </div>
  </li>
</ul>

    <h3>Board Reviews</h3>

      <% @products.reviews.each do |review| %>
    <div class="row">


      <div class="card-body">
        <ul class="list-unstyled">
          <li class="media">
            <%= link_to "View Review", "/reviews/#{review.id}", :class => "mr-3 btn btn-primary" %>
            <div class="media-body">
              <h5 class="mt-0 mb-1"><%= review.title %></h5>
              <p>Date Published: <%= review.date %></p><p>Author: <%= review.author %></p>

            </div>
          </li>
        </ul>
      </div>

    </div>
      <% end %>
