<h1>Add Review</h1>

<%= form_for @review do |f| %>
  <%= f.label :product_id %>
    <%= f.select :product_id, Product.pluck(:name, :id), :include_blank => true, :required => true %>
  <%= link_to 'Add Board', new_product_path %>
  <%= f.label :title %>
  <%= f.text_field :title, :required => true, :autofocus => true %>
  <%= f.label :date %>
  <%= f.text_field :date %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.label :brief %>
  <%= f.text_area :brief %>

  <%= f.submit %>
<% end %>
