<h1>Add Review</h1>

<%= form_for @review do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :required => true, :autofocus => true %>
  <%= f.label :date %>
  <%= f.text_field :date %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.label :brief %>
  <%= f.text_area :brief %>

  <%= f.submit %>
<% end %>
