<!DOCTYPE html>
<html>
  <head>
    <title>Project01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Products", products_path %>
      <%= link_to "Profiles", profiles_path %>
      <%= link_to "Shapes", shapes_path %>
      <% if @current_user.present? %>
      <%= link_to "Logout", login_path, :method => 'delete' %>
      <%= link_to "Add Review", new_review_path %>
      <% else %>
      <%= link_to "Sign Up", new_user_path %>
      <%= link_to "Log In", login_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
