<!DOCTYPE html>
<html>
  <head>
    <title>Project01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>

      <header>
        <!-- bg-dark -->
        <nav class="navbar navbar-expand-md navbar-dark  fixed-top">
          <!-- <a href="#" class="navbar-brand" >Board Files</a> -->
          <%= link_to "Board Files", root_path, :class => 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Products", products_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Profiles", profiles_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Shapes", shapes_path, :class => "nav-link" %>
          </li>
          <% if @current_user.present? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <%= link_to "Add Review", new_review_path, :class => "dropdown-item" %>
              <%= link_to "My Reviews", users_path, :class => "dropdown-item" %>
            <% if @current_user.admin? %>
            <div class="dropdown-divider"></div>

              <%= link_to "Add Shape", new_shape_path, :class => "dropdown-item" %>
              <%= link_to "Add Profile", new_profile_path, :class => "dropdown-item" %>
            <% end %>

            </div>

          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to  @current_user.username, '#', :class => "nav-link disabled" %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", login_path, :method => 'delete', :class => "nav-link"  %>
            </li>
          </ul>

          <% else %>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <%= link_to "Sign Up", new_user_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log In", login_path, :class => "nav-link" %>
          </li>
          </ul>
          <% end %>
        </form>
        </div>
        </nav>
      </header>
<div class="container">
      <%= yield %>
  </div>

  </body>
</html>
